<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huaxing.user.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.huaxing.user.model.User">
        <id column="t_user_user_id" jdbcType="BIGINT" property="userId"/>
        <result column="t_user_user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="t_user_user_mobile" jdbcType="VARCHAR" property="userMobile"/>
        <result column="t_user_user_status" jdbcType="VARCHAR" property="userStatus"/>
        <result column="t_user_user_nick_name" jdbcType="VARCHAR" property="userNickName"/>
        <result column="t_user_user_pass_word" jdbcType="VARCHAR" property="userPassWord"/>
        <result column="t_user_status" jdbcType="CHAR" property="status"/>
        <result column="t_user_create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="t_user_create_user" jdbcType="VARCHAR" property="createUser"/>
        <result column="t_user_update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="t_user_update_user" jdbcType="VARCHAR" property="updateUser"/>
    </resultMap>
    <sql id="Base_Column_List">
    t_user.user_id as t_user_user_id, t_user.user_name as t_user_user_name, t_user.user_mobile as t_user_user_mobile, 
    t_user.user_status as t_user_user_status, t_user.user_nick_name as t_user_user_nick_name, 
    t_user.user_pass_word as t_user_user_pass_word, t_user.`status` as `t_user_status`, 
    t_user.create_time as t_user_create_time, t_user.create_user as t_user_create_user, 
    t_user.update_time as t_user_update_time, t_user.update_user as t_user_update_user
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_user t_user
        where t_user.user_id = #{userId,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_user
    where user_id = #{userId,jdbcType=BIGINT}
  </delete>
    <insert id="insert" keyColumn="user_id" keyProperty="userId" parameterType="com.huaxing.user.model.User"
            useGeneratedKeys="true">
    insert into t_user (user_name, user_mobile, user_status, 
      user_nick_name, user_pass_word, `status`, 
      create_time, create_user, update_time, 
      update_user)
    values (#{userName,jdbcType=VARCHAR}, #{userMobile,jdbcType=VARCHAR}, #{userStatus,jdbcType=VARCHAR}, 
      #{userNickName,jdbcType=VARCHAR}, #{userPassWord,jdbcType=VARCHAR}, #{status,jdbcType=CHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{updateUser,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" keyColumn="user_id" keyProperty="userId" parameterType="com.huaxing.user.model.User"
            useGeneratedKeys="true">
        insert into t_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userName != null">
                user_name,
            </if>
            <if test="userMobile != null">
                user_mobile,
            </if>
            <if test="userStatus != null">
                user_status,
            </if>
            <if test="userNickName != null">
                user_nick_name,
            </if>
            <if test="userPassWord != null">
                user_pass_word,
            </if>
            <if test="status != null">
                `status`,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createUser != null">
                create_user,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="updateUser != null">
                update_user,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="userMobile != null">
                #{userMobile,jdbcType=VARCHAR},
            </if>
            <if test="userStatus != null">
                #{userStatus,jdbcType=VARCHAR},
            </if>
            <if test="userNickName != null">
                #{userNickName,jdbcType=VARCHAR},
            </if>
            <if test="userPassWord != null">
                #{userPassWord,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=CHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUser != null">
                #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null">
                #{updateUser,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.huaxing.user.model.User">
        update t_user
        <set>
            <if test="userName != null">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="userMobile != null">
                user_mobile = #{userMobile,jdbcType=VARCHAR},
            </if>
            <if test="userStatus != null">
                user_status = #{userStatus,jdbcType=VARCHAR},
            </if>
            <if test="userNickName != null">
                user_nick_name = #{userNickName,jdbcType=VARCHAR},
            </if>
            <if test="userPassWord != null">
                user_pass_word = #{userPassWord,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                `status` = #{status,jdbcType=CHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUser != null">
                create_user = #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null">
                update_user = #{updateUser,jdbcType=VARCHAR},
            </if>
        </set>
        where user_id = #{userId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.huaxing.user.model.User">
    update t_user
    set user_name = #{userName,jdbcType=VARCHAR},
      user_mobile = #{userMobile,jdbcType=VARCHAR},
      user_status = #{userStatus,jdbcType=VARCHAR},
      user_nick_name = #{userNickName,jdbcType=VARCHAR},
      user_pass_word = #{userPassWord,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=BIGINT}
  </update>
</mapper>